body {
	background-color: black;
	font-family: "Lora", serif;
}
#sidebar {
	position: fixed;
	width: 250px;
	height: 100%;
	left: 0px;
	top: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
}
#coffee {
	top: 0px;
	left: 30px;
	width: 200px;
	color: white;
	font-size: 50px;
	position: absolute;
}
#home {
	position: absolute;
	font-size: 35px;
	color: black;
	font-weight: 400;
	top: 36%;
	left: 30px;	
}
#people {
	position: absolute;
	font-size: 35px;
	color: black;
	font-weight: 300;
	top: 44%;
	left: 30px;
}
#map {
	position: fixed;
	left: 28%;
	top: 8%;
}
#station {
	position: fixed;
	left: 21%;
	top: 68%;
}
.cup {
	position: absolute;
	cursor: pointer;
	top: 81%;
}
#arashiyama {
	left: 46%;
}
#oyheart {
	left: 57%;
}
#guat {
	left: 68%;
}
#dream {
	left: 79%;
}
.symbols {
	top: 425px;
	display: none;
	position: absolute;
}
#flower {
	left: 638px;
}
#heart {
	left: 780px;
}
#tree {
	left: 930px;
}
#rocket {
	left: 1078px;
}
.descriptions {
	display: none;
}
#arashiyamadesc {
	position: absolute;
	top: 30%;
	left: 30%;
}
#oyheartdesc {
	position: absolute;
	top: 40%;
	left: 39%;
}
#guatdesc {
	position: absolute;
	top: 37%;
	left: 48%;
}
#dreamdesc {
	position: absolute;
	top: 40%;
	left: 57%;
}
.active {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
}
