body {
	background-color: black;
	font-family: "Lora", serif;
}
#sidebar {
	position: fixed;
	width: 250px;
	height: 100%;
	left: 0px;
	top: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
}
#people {
	top: 0px;
	left: 20px;
	width: 200px;
	color: white;
	font-size: 55px;
	position: absolute;
}
#home {
	position: absolute;
	font-size: 38px;
	color: black;
	font-weight: 400;
	top: 38%;
	left: 20px;
}
#coffee {
	position: absolute;
	font-size: 38px;
	color: black;
	font-weight: 300;
	top: 45%;
	left: 20px;
}
#opendoor {
	position: absolute;
	margin-left: 242px;
	bottom: 0px;
	z-index: 1;
}
#container {
	position: absolute;
	z-index: 4;
	left: 666px;
	top: 150px;
}
#second-row {
	top: 5px;
	left: 38px;
}
#third-row {
	top: 5px;
}
#fourth-row {
	top: 10px;
	left: 38px;
}
#fifth-row {
	top: 10px;
}
#sixth-row {
	left: 38px;
}
#one {
	top: 10px;
}
#two {
	top: 25px;
	left: 6px;
}
#three {
	left: 48px;
}
#four {
	top: 30px;
}
#five {
	left: 42px;
}
#six {
	left: 46px;
	top: 20px;
}
#seven {
	top: 15px;
}
#eight {
	left: 43px;
}
#nine {
	left: 46px;
	top: 25px;
}
#ten {

}
#eleven {
	left: 4px;
	top: 10px;
}
#twelve {
	left: 45px;
	top: 20px;
}
#thirteen {
	top: 25px;
}
#fourteen {
	left: 5px;
}
#fifteen {
	top: 45px;
}
#sixteen {
	left: 42px;
}
#seventeen {
	top: 15px;
	left: 48px;
}
.row {
	position: relative;
}
.circle {
	cursor: pointer;
	position: relative;
}
.circle:hover {
	opacity: 0.9;
	-webkit-transform:scale(1.2);
}
.notebox {
	position: absolute;
	z-index: 2;
	display: none;
}
.note {
	position: absolute;
	z-index: 3;
}
.text {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	width: 230px;
	display: inline-block;
	color: white;
	position: absolute;
}
#notebox1 {
	top: 30px;
	left: 315px;
}
#notebox2 {
	top: 93px;
	left: 360px;
}
#text2 {
	left: 30px;
	font-size: 25px;
}
#notebox3 {
	top: 25px;
	left: 900px;
}
#text3 {
	left: 140px;
	font-size: 26px;
}
#notebox4 {
	top: 115px;
	left: 870px;
}
#text4 {
	left: 155px;
	font-size: 20px;
}
#notebox5 {
	top: 163px;
	left: 343px;
}
#text5 {
	left: 22px;
	font-size: 23px;
}
#notebox6 {
	top: 185px;
	left: 900px;
}
#text6 {
	left: 140px;
	font-size: 25px;
}
#notebox7 {
	top: 242px;
	left: 380px;
}
#text7 {
	left: 22px;
	top: 23px;
	font-size: 20px;
}
#notebox8 {
	top: 410px;
	left: 340px;
}
#text8 {
	left: 24px;
	top: 10px;
	font-size: 25px;
}
#notebox17 {
	top: 350px;
	left: 940px;
}
#text17 {
	left: 140px;
	font-size: 25px;
}
